<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Courses</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</head>
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 ">
    <div class="container-fluid ">
      <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/courses}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/students}">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">Teachers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->


</header>
<body>

<div class="container-fluid text-center">
  <h2>Manage courses</h2>
</div>

<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>


<table class="table table-bordered">
  <thead class="thead-dark">
  <th>Course id</th>
  <th>Course name</th>
  <th></th>
  </thead>
  <th:block1 th:each="course :${listCourses}">
    <tr>
      <td> [[${course.courseId}]]</td>
      <td> [[${course.courseName}]]</td>
      <td class="col-sm-2">
        <a class="btn btn-outline-dark btn-light" th:href="@{'/courses/edit/' + ${course.courseId}}" role="button">Edit</a>
        <a class="btn btn-outline-dark btn-light" th:href="@{'/courses/delete/' + ${course.courseId}}" role="button">Delete</a>
        <a class="btn btn-outline-dark btn-light" th:href="@{ '/courses/'+ ${course.courseId}}" role="button">Details</a>

      </td>
    </tr>
  </th:block1>
</table>

<!-- Jumbotron -->
<div class=" text-center" style="margin-top: 5px;">
  <a class="btn btn-primary" th:href="@{/courses/new/}" role="button">Add new course</a>
</div>
<!-- Jumbotron -->

</body>
</html>