<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2>
    <form th:action="@{/students/save}" method="post" th:object="${student}" style="max-width: 500px;
margin: 0 auto;">

      <input type="hidden" th:field="*{id}">
      <div class="border border-secondary rounded p-3">

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">First name</label>
          <div class="col col-sm-8">
            <input type="text" th:field="*{firstName}" class="form-group" required minlength="2"
                   maxlength="45">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Last name</label>
          <div class="col col-sm-8">
            <input type="text" th:field="*{lastName}" class="form-group" required minlength="2"
                   maxlength="45">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Phone number</label>
          <div class="col col-sm-8">
            <p><input type="text" th:field="*{phoneNumber}" class="form-group" required
                      minlength="11"
                      maxlength="13">
            </p>

          </div>

          <label class="col-sm-4 col-form-label">Course</label>
          <div class="col col-sm-8">
            <select th:field="*{course.courseId}" class="col col-sm-8">
              <th:block th:each="course :${listCourses}">
                <option th:value="${course.courseId}">[[${course.courseName}]]</option>
              </th:block>

            </select>
            <input value="${course.courseId}" type="hidden" th:field="${student.course.courseId}">
          </div>
        </div>

      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">
          Save
        </button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">
          Cancel
        </button>
      </div>
  </div>
  </form>
</div>
</div>

<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/students}]]"
  }
</script>
</body>
</html>